@{
    Layout = "_Layout";
}

<div class="container">
    <form action = "/" method="post">
        <label for="make-model">Enter the make/model:</label>
        <input type="text" name="make-model" id="make-model">

        <label for="price">Enter the price:</label>
        <input type="number" name="price" id="price" value="0">

        <label for="mileage">Enter the mileage:</label>
        <input type="number" name="mileage" id="mileage" value="0">

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
